*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

.DS_Store

app/portfolioviz/static/datos.xlsx

view/node_modules
view/.pnp
view/.pnp.js

# testing
view/coverage

# production
view/build

# misc
view/.DS_Store
view/.env.local
view/.env.development.local
view/.env.test.local
view/.env.production.local

view/npm-debug.log*
view/yarn-debug.log*
view/yarn-error.log*